button,
.btn {
  border-radius: 8px !important;
  border: 1px solid transparent !important;
  padding: 0.6em 1.2em !important;
  font-size: 1em !important;
  font-weight: 500 !important;
  font-family: inherit !important; /*btn font*/
  background-color: #1a1a1a !important;
  cursor: pointer !important;
  transition: border-color 0.25s !important;
}

button:hover,
.btn:hover {
  border-color: #646cff !important;
  background-color: #1a1a1a !important;
}

button:focus,
button:focus-visible,
.btn:focus,
.btn:focus-visible {
  outline: 0.1px auto -webkit-focus-ring-color !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547 !important;
    background-color: #ffffff !important;
  }
  a:hover {
    color: #747bff !important;
  }
  button,
  .btn {
    background-color: #f9f9f9 !important;
  }
}
